<tbody>

    <% if @cur_temp <= 45 %>
      <div class="carousel cold"></div>
    <% elsif @cur_temp > 45 && @cur_temp <= 65 %>
      <div class="carousel chilly"></div>
    <% elsif @cur_temp > 65 && @cur_temp <= 80 %>
      <div class="carousel warm"></div>
    <% else %>
      <div class="carousel hot"></div>

    <% end %>


  </tbody>

<h1>Temperature</h1>

  <%= @cur_temp%>
