// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.logo {
  	height: 38px;
    width: 38px;
}

.carousel-item {
  box-shadow: 2px 4px 14px 0 rgba(0,0,0,0.5)
}
